body{
    margin-top: 3em;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

#section{
    margin-top: 2em;
    width:50vw;
    text-align: justify;
    font-size: 18px;
}

#myPic{
    width: 300px;  
}